@model List<Departamento>;
@{
    ViewBag.title = "Index Departamento";
}

<div class="container">
    <h1 class="text-center">@ViewBag.title</h1>
    <table>
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Nombre
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var depa in Model)
            {
                <tr>
                    <th>
                        @depa.Id
                    </th>
                    <th>
                        @depa.Nombre
                    </th>
                </tr>
            }   
        </tbody>
    </table>
</div>